* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #062e4d;
}

ul {
  position: relative;
  display: flex;
  margin: 1rem 0;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  display: block;
  width: 80px;
  height: 80px;
  background: #062e4d;
  line-height: 85px;
  text-align: center;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05),
    3px 3px 3px rgba(0, 0, 0, 0.2);
}

ul li a .fa {
  font-size: 32px;
  color: #bbb;
}

ul li a:hover .fa {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

ul:nth-child(2) a:hover .fa {
  color: tomato;
  text-shadow: 0 0 15px tomato;
}

ul:nth-child(3) a:hover .fa {
  color: #0f0;
  text-shadow: 0 0 15px #0f0;
}
